.account-menu__flex-container {
    display: flex;
    justify-content: flex-end;
}

.account-menu__avatar-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.account-menu__tooltip {
    margin-right: 5px;
    margin-top: 5px;
}

.account-menu__icon-button {
    margin-left: 2px;
}

.account-menu__avatar {
    width: 32px;
    height: 32px;
}

.account-menu {
    overflow: visible;
    filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.32));
    margin-top: 1.5rem;
}

.account-menu:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 14px;
    width: 10px;
    height: 10px;
    background-color: #32CD32;
    transform: translateY(-50%) rotate(45deg);
    z-index: 0;
}

.account-menu__list .MuiAvatar-root {
    width: 32px;
    height: 32px;
    margin-left: -0.5rem;
    margin-right: 1rem;
}

.account-menu__link {
    text-decoration: none;
    color: black;
}
