.model-display {
  padding: 20px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 60%;
}

.tabs-container {
  width: 100%;
}

.tabs-divider {
  border-bottom: 1px solid #D3D3D3;
}

.comment-display {
  border: none;
  max-height: 400px;
  width: auto;
  margin: 15px 25px 0 0;
  overflow-y: scroll;
  
}

.comment-display__individual-comment {
  background-color: rgb(247, 246, 246);
  margin: 10px;
  border-radius: 20px;
  max-width: 98%;
  padding: 5px;
}

.solution-button-container {
  display: flex;
  justify-content: center;
}
