.post-comment__name-input,
.post-comment__comment {
  background-color: rgb(240, 242, 245);
  width: 90%;
}

.post-comment__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-left: 2rem;
}

.post-comment__button {
  margin-bottom: 20px;
}

.post-comment__success-msg {
  color: green;
  padding: 20px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.post-comment__box {
  margin: 15px 0 20px;
  display: flex;
  justify-content: space-around;
  width: 94%;
}

.post-comment__avatar {
  width: 32px;
  height: 32px;
}

.post-comment__send-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
