.nav-bar__user-page {
  background: rgb(6, 37, 79);
  background: linear-gradient(
    90deg,
    rgba(6, 37, 79, 1) 5%,
    rgba(28, 84, 112, 1) 52%,
    rgba(4, 39, 88, 1) 97%
  );
}
.home-button-mobile {
  display: none; /* Hide "Main" text on larger screens */
}
.home-button-desktop {
  display: inline; /* Display "Starting page" text on larger screens */
}
.share-your-problem-button {
  width: 30%;
  max-Width: 300px;
  margin: 15px auto;
}

.post-comment__form{
  margin-bottom: 20px;
}

.post-comment__button{
  margin-top: 10px;
  width: 110px;
  margin: 0 auto;
}


@media (max-width: 900px) {
  .model-display {
    margin-left: 15px;
  }

}


@media (max-width: 600px) {
  main {
    font-family: "Gill Sans", sans-serif;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-bar__user-page {
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Adjusted spacing */
    align-items: center;
    
  }
 
  .echo-board-logo-mobile {
    display: none; /* Hide on mobile view by default */
  }
  .home-button-mobile {
    display: inline; /* Display "Home" text on smaller screens */
    margin-left: 20px;
  }
  
  .home-button-desktop {
    display: none; /* Hide "Starting page" text on smaller screens */
  }

  .nav-bar__user-page Button:nth-child(1) {
    margin-left: 20px;
  }

  .nav-bar__user-page Button:nth-child(2) {
    margin-right: 20px;
  }
   /* Adjust styles for the EchoBoardLogo and its container */
   .nav-bar__user-page .MuiBox-root {
  
    margin-left: 0px; 
    margin-right: 0px;
  }


  h1 {
    display: none;
    text-align: center;
    max-width: 90%;
    margin-top: 40px;
  }

  .share-your-problem-button {
    width: 30%;
    height: 10%;
    font-family: "Gill Sans", sans-serif;
    color: #ffffff;
   background: rgb(6, 37, 79);
  background: linear-gradient(
    90deg,
    rgba(6, 37, 79, 1) 5%,
    rgba(28, 84, 112, 1) 52%,
    rgba(4, 39, 88, 1) 97%
  );
    margin-bottom: 60px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.3)
     0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .sort-button {
    font-family: "Gill Sans", sans-serif;
    color: #ffffff;
   background: rgb(6, 37, 79);
  background: linear-gradient(
    90deg,
    rgba(6, 37, 79, 1) 5%,
    rgba(28, 84, 112, 1) 52%,
    rgba(4, 39, 88, 1) 97%
  );
  box-shadow: rgba(0, 0, 0, 0.3)
  0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .post-comment__form{
    margin-bottom: -10px;
  }

  .post-comment__button{
    margin-top: 10px;
    width: 110px;
    margin: 0 auto;
  }

  .model-display {
    margin-left: 15px;
  }
}